<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Update</title>
  </head>

  <style>
    body{
      background-image: url(https://cdn.freeyork.org/wp-content/uploads/2016/09/night-time-tokyo-streets-masashi-wakui-fy-8.jpg);
      background-size: cover;
    }
  </style>
  <body>

  <div class="container mt-5 pt-5">
    <h2 class="text-center text-uppercase">Update Item "<%= a.username %>"</h2><br>
    <div class="card col-6 mx-auto">
      <form class="px-4 py-3" method="POST" action="/update/<%= a.id %>" enctype="application/x-www-form-urlencoded">

        <input type="hidden" name="_method" value="PUT" />
        <div class="form-group">
          <label for="fullname">Nama Lengkap :</label>
          <input type="text" name="fullname" class="form-control" placeholder="<%= a.fullname %>" required>
        </div>
        <div class="form-group">
          <label for="username">Username :</label>
          <input type="text" name="username" class="form-control" placeholder="<%= a.username %>" required>
        </div>
        <div class="form-group">
          <label for="password">Kata Sandi :</label>
          <input type="password" name="password" class="form-control" placeholder="<%= a.password %>" required>
        </div>
        <div class="form-group">
          <label for="address">Alamat :</label>
          <input type="text" name="address" class="form-control" placeholder="<%= a.address %>" required>
        </div>
        <div class="form-group">
          <label class="my-1 mr-2" for="gender">Kelamin :</label>
          <select class="custom-select my-1 mr-sm-2">
            <option name="gender" value="Male">Pria</option>
            <option name="gender" value="Female">Wanita</option>
          </select>
        </div>
        <div class="form-group">
          <label class="my-1 mr-2" for="difficulty">Tingkat Kesulitan :</label>
          <select class="custom-select my-1 mr-sm-2">
            <option name="difficulty" value="Easy">Mudah</option>
            <option name="difficulty" value="Mediun">Lumayan</option>
            <option name="difficulty" value="Hard">Wah Susah</option>
          </select>
        </div>
        <div class="form-group">
          <label for="level">Level :</label>
          <input type="number" name="level" class="form-control" placeholder="<%= a.level %>" required>
        </div>
        <div class="form-group">
          <label for="have_won">Menang :</label>
          <input type="number" name="have_won" class="form-control" placeholder="<%= a.have_won %>" required>
        </div>
        <div class="form-group">
          <label for="have_lost">Kalah :</label>
          <input type="number" name="have_lost" class="form-control" placeholder="<%= a.have_lost %>" required>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-success">Perubahan</button>
        </div>
      </form>
      <div class="text-center">
      <a class="text-info" href="/users">Tunjukkan Sesuatu</a>
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>