<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title><%= a.title %></title>
    <style>
      body{
        background-size: cover;
        background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%253A%252F%252Fs3-ap-northeast-1.amazonaws.com%252Fpsh-ex-ftnikkei-3937bb4%252Fimages%252F1%252F1%252F6%252F7%252F12777611-1-eng-GB%252F20180219_china-high-speed-railway-network.jpg?width=1024&height=512&fit=cover&gravity=faces&source=nar-cms);
      }
    </style>
  </head>
  <body>
    <div class="container mt-5 pt-5">
      <div class="card w-75 col-6 mx-auto">
        <div class="card-body">
          <h5 class="card-title text-center text-uppercase"><%= a.username %></h5>
          <p class="card-text">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Nama Lengkap :</th>
                  <td><%= a.fullname %></td>
                </tr>
                <tr>
                  <th scope="row">Username :</th>
                  <td><%= a.username %></td>
                </tr>
                <tr>
                  <th scope="row">Kata Sandi :</th>
                  <td><%= a.password %></td>
                </tr>
                <tr>
                  <th scope="row">Alamat :</th>
                  <td><%= a.address %></td>
                </tr>
                <tr>
                  <th scope="row">Kelamin :</th>
                  <td><%= a.gender %></td>
                </tr>
                <tr>
                  <th scope="row">Tingkat Kesulitan :</th>
                  <td><%= a.difficulty %></td>
                </tr>
                <tr>
                  <th scope="row">Level :</th>
                  <td><%= a.level %></td>
                </tr>
                <tr>
                  <th scope="row">Menang :</th>
                  <td><%= a.have_won %></td>
                </tr>
                <tr>
                  <th scope="row">Kalah :</th>
                  <td><%= a.have_lost %></td>
                </tr>
              </tbody>
            </table>
          </p>
          <button
                onclick="window.location.href='/users'"
                type="button"
                class="btn btn-primary"
              >
                Tunjukkan
              </button>
          <button
                onclick="window.location.href='/update/<%= a.id %>'"
                type="button"
                class="btn btn-success"
              >
                Edit
              </button>
          <button
                onclick="window.location.href='/delete/<%= a.id %>'"
                type="button"
                class="btn btn-danger"
              >
                Hapus
              </button>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
      integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
